<!DOCTYPE HTML>
<div th:include="base :: page" th:remove="tag"></div>
<div th:fragment=" :: content">
    <p th:text="${cafe.name}" />
</div>


{% block content %}
{% for cafe in cafes %}
<div itemscope="" itemtype="http://schema.org/LocalBusiness" class="cafe">
    <h3 itemprop="name" class="cafe-title"><a href="cafe/{{ cafe.viewLink }}">{{ cafe.name }}</a></h3>

    <div class="cafe-data">
        {% if cafe.hasDelivery %}

        {% if cafe.phoneNumbers  %}
        <div itemprop="telephone" class="phone inline-block">
            <span class="mini">Телефон для заказа:</span><br/>{{ cafe.phoneNumbers|phone }}
        </div>
        {% endif %}

        {% if cafe.deliveryWorkStart != None %}
        <div itemprop="openingHours" datetime="Mo-Su {{ cafe|metaWorkTime }}" class="timetable inline-block">
            <span class="mini">Время доставки:</span><br/>{{ cafe|workTime }}
        </div>
        {% endif %}

        <div itemprop="price" class="price inline-block">
            <span class="mini">Стоимость доставки:</span><br/>{{ cafe|price }}
        </div>

        {% else %}

        <div class="no_delivery inline-block">
            Доставки нет. Самовынос.
        </div>

        {% endif %}
    </div>

    {% if cafe.siteUrl %}
    <div itemprop="siteUrl" class="web">
        <a target="_blank" href="{{ cafe.siteUrl }}">{{ cafe.siteUrl|siteUrl }}</a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}