<!DOCTYPE HTML>
<div layout:include="base :: page" th:remove="tag">
    <th:block layout:fragment="topNavigation">
        <div class="nav">
            <ul>
                <li><a href="/">Пиццерии</a></li>
                <li><a href="/on-the-map">На карте</a></li>
                <li><a href="/posts">Статьи</a></li>
            </ul>

            <th:block layout:fragment="filtering"></th:block>
        </div>
    </th:block>

    <th:block layout:fragment="sorting"></th:block>

    <th:block layout:fragment="content">
        <div class="article">
            <div class="publish-date mini" th:text="${#temporals.format(post.publishDate, 'dd.MM.yyyy HH:mm')}"></div>
            <h3 th:text="${post.title}"></h3>

            <div class="short-descrition">
                <p th:utext="${post.content}"></p>
            </div>
            <div class="author mini" th:text="${post.author}"></div>
            <br/>
            <a href="/posts">Список статей</a>
        </div>
    </th:block>
</div>

